.expense-col-header {
	cursor: pointer;
}

.green {color: green;}

.red {color: red;}

.expense-amount {
	width: 100px !important;
	margin: 0 !important;
	border: 1px solid transparent !important;
	background: transparent !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	font-weight: bold !important;
	text-align: right;

	&:focus {
		border: 1px solid #ccc !important;
	}
}