<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>Budget App</title>
  <link rel="stylesheet" href="css/foundation.css"/>
</head>
<body>
    <section ng-controller="ExpensesCtrl">

        <div class="row">
            <div class="large-12 columns">
                <h1>Monthly Budget</h1>
            </div>
        </div>

        <div class="row">
            <div class="large-6 columns">
                <h3>Monthly Expenses: {{total() | currency}}</h3>
                <table width="100%">
                    <thead>
                        <tr>
                            <th ng-click="changeFilter('name')" class="expense-col-header">Name</th>
                            <th ng-click="changeFilter('amount')" class="expense-col-header text-right">Amount</th>
                            <th width="20"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="expense in expenses | orderBy:filter" class="expense-row">
                            <td>
                                {{expense.name}}
                            </td>
                            <td align="right">
                                {{expense.amount | currency}}
                            </td>
                            <td>
                                <a ng-click="deleteExpense(expense)"><i class="icon-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Total:</strong>
                            </td>
                            <td align="right">
                                <strong>{{total() | currency}}</strong>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="row collapse">
                    <form ng-submit="addExpense()">
                        <div class="large-5 columns">
                            <input ng-model="expenseName" type="text" placeholder="Name">
                        </div>
                        <div class="large-5 columns">
                            <input ng-model="expenseAmount" type="number" placeholder="Amount">
                        </div>
                        <div class="large-2 columns">
                            <input type="submit" value="Add" class="button postfix">
                        </div>
                    </form>
                </div>
            </div>

            <div class="large-6 columns">
                <div class="row">
                    <div class="large-12 columns">
                        <h3>Monthly Income: {{income | currency}}</h3>
                    </div>
                </div>

                <div class="row collapse">
                    <div class="large-2 columns">
                        <span class="prefix">Income:</span>
                    </div>
                    <div class="large-10 columns">
                        <input type="number" ng-model="income" placeholder="Your Income">
                    </div>
                </div>  
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <table width="100%" class="year-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th ng-repeat="month in year.months">{{month}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <strong>Expenses:</strong>
                            </td>
                            <td ng-repeat="month in year.months">{{total() | currency}}</td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Savings:</strong>
                            </td>
                            <td ng-repeat="month in year.months">
                                <span class="{{year.getMonthNetClass()}}">${{year.getMonthNet() | number:2}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </section><!-- end ExpensesCtrl controller -->


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/expenses.js"></script>
</body>
</html>
